.root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: black;

    .container {
        max-width: 74rem;
        width:100%;
        margin: 0 auto;
        padding: 2rem;

        .appname {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
        }
        label {
            color: white;
        }
    }

    

    h1{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    
    

    a {
        font-weight: bold;
        color: var(--primary-color);
    }
    footer {
        font-size: 0.8rem;
        background-color: black;

        a { 
            color: #666;
            font-weight: normal;
        }

        img {
            width: 4rem;
        }
        
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            flex-wrap: wrap;
            padding: 0;
        }

        li{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            padding: 1rem;

        }
    }

}